libGetFlights/Web References/wsFlights/WSFlightsPortType_schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soap/" targetNamespace="http://soap/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getFlights" type="tns:getFlights" />
  <xs:element name="getFlightsResponse" type="tns:getFlightsResponse" />
  <xs:complexType name="getFlights">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getFlightsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityFrom" type="xs:string" />
      <xs:element minOccurs="0" name="cityFromCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityTo" type="xs:string" />
      <xs:element minOccurs="0" name="cityToCode" type="xs:string" />
      <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numPlane" type="xs:string" />
      <xs:element name="price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>